<ng-container *ngIf="this.layerView && this.loadingOk">
<alk-header [uuid]="this.layerView.metadataUuid" [dataset]="layerView.storagePath"
            [viewName]="this.layerView.name"></alk-header>
<main >
  <div class="download-container section section-lg">
    <div class="container-fluid my-3">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="card bg-white border-light p-0 p-md-2 mb-2">
            <div class="card-header bg-white py-3">
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                <h2 class="mb-0">
                  <div class="icon icon-shape icon-md icon-shape-primary rounded-circle mr-3 mb-4 mb-md-0 me-2"><i
                          class="fa-solid fa-arrows-to-dot"></i></div>
                  Création de la vue
                </h2>
              </div>
            </div>
            <div class="card-body">
              <div class="row mt-4" >
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radio-custom-view" value="custom" [(ngModel)]="selectedViewType" >
                  <label class="form-check-label" >
                    Vue personnalisée (définition SQL)
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="radio-custom-view" value="with_assistant" [(ngModel)]="selectedViewType">
                  <label class="form-check-label">
                    Vue avec assistant
                  </label>
                </div>
              </div>
              <div class="col-3 mt-4" >
                <label class="mb-2">Série de données géographiques associée</label>
                <select class="form-select mb-2" name="select-dataset-view" [(ngModel)]="this.dataset">
                  <ng-container *ngFor="let layerResource of this.layerRessources" >
                    <option [value]="layerResource.storagePath"> {{layerResource.name}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="d-flex justify-content-left">
            <button class="btn btn-prodige rounded-0 me-1" [disabled]="this.isLoading || !this.dataset || !this.selectedViewType"
                    (click)="validate()">
              <i class="fa-solid fa-download me-2" *ngIf="!this.isLoading"></i>
              <i class="fas fa-circle-notch fa-spin upload-icon icon-color-loading" *ngIf="this.isLoading"></i>
              Valider
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</ng-container>
