<ng-container *ngIf="!isLoading">
<table class="table table-striped " >
  <thead>
  <tr>
    <th scope="col" i18n="@@Ressource">Resource</th>
    <th scope="col" i18n="@@JoinCriterion">Critère de jointure</th>
    <th scope="col" i18n="@@Restriction">Restriction</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody class="align-middle">
  <ng-container *ngFor="let joinParam of this.joinParams; index as idx">
    <tr>
      <td>{{joinParam.dataset}}</td>
      <td>[{{joinParam.field_view}}]=[{{joinParam.prefix}}{{joinParam.field_table}}]</td>
      <td>{{joinParam.restrictive | booleanText}}</td>
      <td class="text-end">
        <ng-container *ngIf="idx === this.joinParams.length-1">
        <div class="btn-group" role="group">
          <alk-join-modal [layerId]="this.layerId" [joinIdx]="idx"></alk-join-modal>
          <button class="btn btn-link rounded me-1" (click)="delete(idx)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
        </ng-container>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
</ng-container>
