<div  class="toast-container position-fixed top-0 end-0 p-3 alk-toast" style="z-index: 1200">
  <ngb-toast *ngFor="let toast of toasts" class="bg-danger text-light"
             [autohide]="true" [delay]="5000" (hidden)="remove(toast)">
    {{ toast }}
  </ngb-toast>
</div>
