<div class="card-body">
  <ng-container *ngIf="this.navigation.fieldTabParams[0]">
    <div class="row mt-4" >
      <div class="col-3">
        <label class="mb-2">Méthode d’agrégation des géométries</label>
        <select class="form-select mb-2" name="select-geom-method" (change)="onSelectGeom(this.navigation.fieldTabParams[0])"
                [(ngModel)]="this.navigation.fieldTabParams[0].geomFunction">
          <option [value]="null"  >pas d'agrégation</option>
          <option value="st_union">union (st_union)</option>
          <option value="st_collect">collection (st_collect)</option>
        </select>
      </div>
    </div>
  </ng-container>
  <ng-container  *ngIf="this.navigation.fieldTabParams[0].geomFunction">
    <ul ngbNav #nav="ngbNav" [(activeId)]="this.navigation.active" class="nav-tabs">
      <li *ngFor="let fieldTab of this.navigation.fieldTabParams; index as tabIdx " [ngbNavItem]="fieldTab">
        <button class="nav-link" ngbNavLink id="home-tab" type="button" aria-selected="true">
          {{fieldTab.dataset}}
        </button>
        <ng-template ngbNavContent>

          <div class="row justify-content-center">
            <div class="col-12">
              <div class="table-responsive mt-3">
                <table class="table table-striped ">
                  <thead>
                  <tr>
                    <th scope="col">Alias du champ dans la vue</th>
                    <th scope="col">Champs regroupé</th>
                    <th scope="col">Champs agrégé</th>
                  </tr>
                  </thead>
                  <tbody class="align-middle">
                  <ng-container *ngFor="let field of fieldTab.fields">
                    <tr>
                      <td>{{field}}</td>
                      <td>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="grouped-field-check" disabled="true"
                                 (ngModelChange)="onGroupedCheck(field, $event)" [(ngModel)]="groupedField[field]" >
                          <label class="form-check-label">
                          </label>
                        </div>
                      </td>
                      <td>
                        <select class="form-select" aria-label="Default select example" (ngModelChange)="onMethodChange(field, $event)"
                                [(ngModel)]="this.viewParams.grouping_method[field]" >
                          <option [value]="null"  >pas d'agrégation</option>
                          <ng-container *ngFor="let fct of aggregateFunction">
                            <option [value]="fct.value">{{fct.label}}</option>
                          </ng-container>
                        </select>
                      </td>
                    </tr>
                  </ng-container>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </ng-container>


</div>
