<div class="card-body">
  <ul ngbNav #nav="ngbNav" [(activeId)]="this.navigation.active" class="nav-tabs" >
    <li *ngFor="let fieldTab of this.navigation.fieldTabParams" [ngbNavItem]="fieldTab">
      <button class="nav-link"  ngbNavLink id="home-tab" type="button" aria-selected="true">
        {{fieldTab.dataset}}
      </button>
      <ng-template ngbNavContent>
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="table-responsive mt-3">
              <table class="table table-striped ">
                <thead>
                <tr>
                  <th scope="col">Alias du champ dans la vue</th>
                  <th scope="col">Visible</th>
                </tr>
                </thead>
                <tbody class="align-middle">
                <ng-container *ngFor="let field of fieldTab.fields">
                <tr>
                    <td>
                      {{field}}
                    </td>
                  <td>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="check-field-visibility"
                             [disabled]="(fieldTab.prefix+field) === this.sortField"
                             [(ngModel)]="this.fieldTab.selected[field]" (change)="onSelect(field, fieldTab)">
                      <label class="form-check-label" >
                      </label>
                    </div>
                  </td>
                </tr>
                </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>


      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>
