<div class="card-body">
  <div class="table-responsive">
    <table class="table table-striped ">
      <thead>
      <tr>
        <th scope="col">Champ de référence pour le tri</th>
        <th scope="col">Ordre du tri</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody class="align-middle">
        <tr *ngFor="let sort of this.viewParams.sort">
          <td>{{sort.field}}</td>
          <td>{{sort.method | sqlSortLabel}}</td>
          <td class="text-end">
            <div class="btn-group" role="group">
              <alk-sorting-data-modal [edit]="true"   [layerId]="this.layerId" ></alk-sorting-data-modal>
              <button class="btn btn-link rounded me-1" (click)="delete()">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
