<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" i18n="@@addJoin">Ajouter une jointure</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()">
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="this.sortFormGroup">
      <div class="mb-3">
        <label for="select-field-sort" class="col-form-label" i18n="@@referenceFieldSort">Champ de référence pour le tri</label>
        <select class="form-select" id="select-field-sort" name="select-field-view"   formControlName="field">
          <ng-container *ngFor="let field of this.fieldView" >
            <option [value]="field.name">{{field.name}}</option>
          </ng-container>
        </select>
        <alk-form-error [control]="this.sortFormGroup" field="field"></alk-form-error>
        <label for="select-method-sort" class="col-form-label" i18n="@@referenceFieldSort">Ordre du tri</label>
        <select class="form-select" id="select-method-sort" name="select-field-view"  formControlName="method">
          <ng-container *ngFor="let sqlLabel of this.sqlSortLabels" >
            <option [value]="sqlLabel.value">{{sqlLabel.label}}</option>
          </ng-container>
        </select>
        <alk-form-error [control]="this.sortFormGroup" field="method"></alk-form-error>
      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" i18n="@@cancel" (click)="this.cancel(modal)">annuler</button>
    <button type="button" class="btn btn-primary"   i18n="@@validate" (click)="this.validate(modal)">valider</button>
  </div>
</ng-template>
<ng-container *ngIf="!edit && !this.haveSort">
  <button type="button" class="btn btn-sm btn-prodige rounded-0 px-3 py-2" data-bs-toggle="modal"
          data-bs-target="#addJoin" (click)="this.open(content)" i18n="@@addJoin">
    Ajouter un filtre
  </button>
</ng-container>

<ng-container *ngIf="edit && this.haveSort">
  <button class="btn btn-link rounded me-1" role="button" (click)="this.open(content)"><i class="fa-solid fa-pen"></i></button>
</ng-container>
