<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" i18n="@@addJoin">Ajouter une jointure</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()">
    </button>
  </div>
  <div class="modal-body" *ngIf="this.joinFormGroup">
    <ng-container *ngIf="joinWarning">
      édition de la jointure non valide, car des champs sont utilisés :
      <ul>
        <li *ngIf="joinWarning.inCalculated">
          pour les champs calculés
        </li>
        <li  *ngIf="joinWarning.inFilter">
          pour les filtres
        </li>
        <li  *ngIf="joinWarning.inSort">
          pour le tri de données
        </li>
      </ul>
    </ng-container>
    <form [formGroup]="this.joinFormGroup">
      <div class="mb-3">
        <label for="select-table" class="col-form-label" i18n="@@tables">Tables</label>
        <select class="form-select" id="select-table" name="select-table" (change)="this.onSelectTable($event)"
                [(ngModel)]="this.layerJoinId" [ngModelOptions]="{standalone: true}" [disabled]="this.isLoading">
          <ng-container *ngFor="let layer of this.layerRessources | OrderStringBy:'storagePath'" >
            <option [value]="layer.id">{{layer.name}}</option>
          </ng-container>
        </select>
        <alk-form-error [control]="this.joinFormGroup" field="ressource"></alk-form-error>
        <alk-form-error [control]="this.joinFormGroup" field="dataset"></alk-form-error>
      </div>
      <div class="mb-3">
        <label for="select-field-view" class="col-form-label" i18n="@@fieldView">Champ de la vue</label>
        <select class="form-select" id="select-field-view" name="select-field-view" formControlName="field_view" (change)="onSelectField()">
          <ng-container *ngFor="let field of this.fieldsView" >
            <option [value]="field.name">{{field.name}}</option>
          </ng-container>
        </select>
        <alk-form-error [control]="this.joinFormGroup" field="field_view"></alk-form-error>
      </div>
      <div class="mb-3">
        <label for="select-field-table" class="col-form-label" i18n="@@fieldTable">Champ de la table</label>
        <select class="form-select" id="select-field-table" name="select-field-table" formControlName="field_table">
          <ng-container *ngFor="let field of this.fieldsTable" >
            <option [value]="field">{{field}}</option>
          </ng-container>
          <alk-form-error [control]="this.joinFormGroup" field="field_table"></alk-form-error>
        </select>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" formControlName="restrictive"
               id="check-restrictive-join" name="check-restrictive-join">
        <label class="form-check-label" for="check-restrictive-join" i18n="@@restrictiveJoin">
          jointure restrictive
        </label>
        <alk-form-error [control]="this.joinFormGroup" field="restrictive"></alk-form-error>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" i18n="@@close" (click)="modal.close()">annuler</button>
    <button type="button" class="btn btn-primary"   i18n="@@validate" (click)="this.validate(modal)">valider</button>
  </div>
</ng-template>
<ng-container *ngIf="joinIdx === null">
  <button type="button" class="btn btn-sm btn-prodige rounded-0 px-3 py-2" data-bs-toggle="modal"
          data-bs-target="#addJoin" (click)="this.open(content)" i18n="@@addJoin">
    Ajouter une jointure
  </button>
</ng-container>

<ng-container *ngIf="joinIdx !== null">
  <button class="btn btn-link rounded me-1" role="button" (click)="this.open(content)"><i class="fa-solid fa-pen"></i></button>
</ng-container>
