/* You can add global styles to this file, and also import other style files */
.select-row:hover > td{
  cursor: pointer;
  background-color: #e3e3e3 !important;
}

.header-th > th{
  font-weight: bold;
}

.table-height{
  max-height: 500px;
}

.costum-sql-text{
  height: 150px;
}
