<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Confirmation</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()">
    </button>
  </div>
  <div class="modal-body">
    <p>{{message}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger"  i18n="@@Close" (click)="modal.close()">Fermer</button>
  </div>
</ng-template>
