<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" i18n="@@addCalculatedField">Ajouter un champ calculé</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()">
    </button>
  </div>
  <div class="modal-body" >
    <form *ngIf="fieldModalState === 'SELECT_TYPE'">
      <div class="mb-3">
        <label for="field-name-input" class="form-label" i18n="@@name"   >Nom</label>
        <input type="text" class="form-control" id="field-name-input" name="field-name-input" [(ngModel)]="this.calculatedField.name" >
      </div>
      <div class="mb-3">
        <label for="select-field-table" class="col-form-label" i18n="@@type">Type</label>
        <select class="form-select" id="select-field-table" name="select-field-table" [(ngModel)]="this.calculatedField.type" >
          <ng-container *ngFor="let type of this.prodigeType" >
            <option [value]="type.value">{{this.type.label}}</option>
          </ng-container>

        </select>
      </div>
    </form>
    <form *ngIf="fieldModalState === 'WRITE_CALCUL'">
      <div class="row">
        <div class="row  ">
          <div class="col-md-4 table-height overflow-auto">
            <table class="table">
            <thead>
            <tr class="header-th" >
              <th scope="col">Champ</th>
              <th scope="col">Type</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let field of fieldView; index as i" class="select-row "  >
              <td (dblclick)="addToExpression(field.name, 'field')">
                {{ field.name }}
              </td>
              <td>
                {{ field.type }}
              </td>
            </tr>
            </tbody>
          </table>
          </div>
          <div class="col-md-4 table-height overflow-auto">
            <table class="table ms-5">
            <thead>
            <tr  class="header-th">
              <th scope="col">Operator</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sqlOperator of sqlOperators; index as i"  class="select-row" >
              <td (dblclick)="addToExpression(sqlOperator[0])">
                {{ sqlOperator[0] }}
              </td>
            </tr>
            </tbody>
          </table>
          </div>
        </div>
        <textarea class="col-12" [(ngModel)]="this.calculatedField.expression" name="sql-calcul">

        </textarea>
      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" i18n="@@close" (click)="modal.close()">annuler</button>
    <ng-container [ngSwitch]="fieldModalState">
      <ng-container *ngSwitchCase="'SELECT_TYPE'">
        <button type="button" class="btn btn-primary"   i18n="@@next" (click)="this.fieldModalState = 'WRITE_CALCUL'">suivant</button>
      </ng-container>
      <ng-container *ngSwitchCase="'WRITE_CALCUL'">
        <button type="button" class="btn btn-primary"   i18n="@@validate" (click)="this.validate(modal)">valider</button>
      </ng-container>
    </ng-container>

  </div>
</ng-template>
<ng-container *ngIf="this.fieldIdx === null">
  <button type="button" class="btn btn-sm btn-prodige rounded-0 px-3 py-2" data-bs-toggle="modal"
          data-bs-target="#addJoin" (click)="this.open(content)" i18n="@@addCalculatedField">
    Ajouter un champ calculé
  </button>
</ng-container>

<ng-container *ngIf="this.fieldIdx !== null">
  <button class="btn btn-link rounded me-1" role="button" (click)="this.open(content)"><i class="fa-solid fa-pen"></i></button>
</ng-container>
