<router-outlet (activate)="onAppActivate()"></router-outlet>

<alk-modal-logger></alk-modal-logger>
<alk-toast-logger></alk-toast-logger>

<ng-container *ngIf="loading">
  <div class="app-loading" >
    <h1 i18n="@@loading">Chargement...  <i class="fa fa-spinner fa-spin" aria-hidden="true"></i></h1>
  </div>
</ng-container>

