/*=======================================================================
[Table of contents]
=========================================================================

# Typography
# Buttons
# Title header
# Card
# Form
# Nav-pills
# Table
# Modal
# Map
# Dual list
# Resource title nav

==========================================================================*/

/*========================
=======Bootstrap v5.2=========
==========================*/

/*========================
=======Typography=========
==========================*/

body{
  font-family: 'Poppins', sans-serif;
  color: #424767;
}

h1, h2{
  font-family: 'Poppins', sans-serif;
  color: #3f4254;
}

h1{
  font-size: 28px;
}

h1.subtitle{
  font-size: 22px;
  font-weight: 300;
}

h2{
  font-size:20px;
  font-weight: 500;
}

h3{
  font-size: 20px;
  font-weight: 400;
}

a {
  color: #4591ed;
  text-decoration: none;
}

@media (min-width: 992px){
  .mt-lg-n4 {
      margin-top: -5rem;
  }
}

.fs-7{
  font-size: 0.875rem;
}

small{
  color: #888989;
  font-weight: 300;
}

.alert-secondary{
  color: #22232b;
  background-color: transparent;
  border: 1px solid #22232b;
  padding: 10px 15px;
  width: fit-content;
}


.alert-secondary i{
  color: #396dd7;
}

.radius-right-none{
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
}

.radius-left-none{
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}

.section {
  position: relative;
  padding-top: 0rem;
  padding-bottom: 3rem;
}

.section-lg {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media (min-width: 768px){
  .section-lg {
      padding-top: 8rem;
      padding-bottom: 8rem;
  }
  .section {
    position: relative;
    padding-top: 0rem;
    padding-bottom: 3rem;
  }
}

/* icon */

.icon {
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon-shape-primary {
  color: #396dd7;
  background-color: #f1f4ff;
}

.icon-shape {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.45rem;
}

/*========================
=======Buttons=========
==========================*/

.btn-link{
  text-decoration: none;
  color: #3f4254;
}

.btn-link:hover,
.btn-link:focus{
  color: #396dd7;
}


.btn-block {
  display: block;
  width: 100%;
}

.btn-prodige{
  color: #ffff;
  background-color: #396dd7;
}

.btn-prodige:hover,
.btn-prodige:focus{
  color: #ffff;
  background-color: #2556b6;
}

.btn-outline-prodige{
  color: #396dd7;
  background-color: #fff;
  border: 1px solid #396dd7
}

.btn-outline-prodige:hover,
.btn-outline-prodige:focus{
  color: #ffff;
  background-color: #396dd7;
}

/*========================
=======Title header=========
==========================*/

.title-header{
  padding: 4rem 6rem 5rem 5rem;
}

.bg-header{
  background-color:#f4f6fa;
}

/*========================
=======Card=========
==========================*/

.card{
  border-color: #edf0f7!important;
  box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
}

.card-header{
  background-color: #ffff;
}

.card .data-resume i{
  color: #396dd7;
}

.card .data-resume a i{
  color: #4591ed;
}

.download-container .card-header{
  border: none;
}
/*========================
=======Form=========
==========================*/

label{
  color: #4e555a;
}

.input-group-text {
  border-top-right-radius: .375rem !important;
  border-bottom-right-radius: .375rem !important;
  background-color: #f5f9fe;
}

.form-check-input:checked {
  background-color: #58afff;
  border-color: #58afff;
}

/*========================
=======Nav-pills=========
==========================*/

.nav-pills .nav-link.active, 
.nav-pills .show>.nav-link,
.nav-pills .nav-link:hover {
  color: #535f79;
  background-color: hsl(221deg 19% 89%);
  border: 1px solid #535f79;
  font-weight: 500;
}

.nav-pills .nav-link {
  background: 0 0;
  border: 1px solid #ced4da;
  color: #808283;
  font-weight: 400;
}

/*========================
=======Table=========
==========================*/

table {
  font-size: 0.875rem;
}

.table{
  color: #dee2e6;
}

table tbody tr:nth-child(odd){
  background-color: #f4f6fa;
}

table thead tr th{
  color: #3f4254;
  font-weight: 500;
}

table tbody tr{
  color: #5f676e;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  color: #5f676e;
}

/*========================
=======Modal=========
==========================*/

.modal .modal-header{
  background-color: #f4f6fa;
}

#fieldVisibility .table-responsive{
  max-height: 300px;
}

#fieldVisibility .nav-link{
  font-size: 12px;
}

/*========================
=======Map=========
==========================*/


#map{
  height: 600px;
  width: 100%;
  position: relative;
  z-index: 10;
}

.map-toolbar{
  position: absolute;
  padding: 6px 10px;
  border-radius: 0.25rem;
  background-color: rgb(244 246 250 / 65%);
  top: 10px;
  right: 0px;
  left: 27%;
  width: fit-content;
  height: fit-content;
  z-index: 15;
  text-align: center;
}

.map-toolbar .btn:hover{
  color: #396dd7;
  background-color: #f1f4f7;
  border-color: #ffffff;
}

/*========================
=======Dual list=========
==========================*/

.list-data{
  max-height: 200px;
  overflow: scroll;
  font-size: 14px;
  border-bottom: 1px solid #e3e3e3;
}


.list-data li:not(:last-child){
  border-bottom: none;
}

.list-data li{
  padding: 3px 16px;
}

.input-search{
  border: 1px solid #e3e3e3;
}

/*========================
=======Resource title nav=========
==========================*/

.resource-title-nav .nav-link{
  font-size: 14px;
}