<div class="modal-header">
  <h5 class="modal-title">Confirmation</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="onClickCancel()">
  </button>
</div>
<div class="modal-body">
  <p>{{message}}</p>
</div>
<div class="modal-footer">
  <button (click)="onValidate()" type="button" class="btn btn-danger">ok</button>
  <button (click)="onClickCancel()" type="button" class="btn btn-secondary" data-dismiss="modal" *ngIf="withCancelButton">
    Annuler
  </button>
</div>
