<div class="card-body">
  <div class="table-responsive">
    <table class="table table-striped ">
      <thead>
      <tr>
        <th scope="col">Nom du champ</th>
        <th scope="col">Type</th>
        <th scope="col">Expression</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody class="align-middle">
      <tr *ngFor="let field of calculatedFields; index as idx">
        <td>{{field.name}}</td>
        <td>{{field.type|sqlTypeLabel}}</td>
        <td>{{field.expression}}</td>
        <td class="text-end">
          <div class="btn-group" role="group">
            <alk-calculated-field-modal [fieldIdx]="idx" [layerId]="this.layerId" ></alk-calculated-field-modal>
            <button class="btn btn-link rounded me-1" (click)="delete(idx)">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
