
<div class="modal-header">
  <h5 class="modal-title" i18n="@@addJoin">Suppression de jointure</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="this.close()">
  </button>
</div>
<div class="modal-body">
  <ng-container *ngIf="joinWarning">
    Suppression de la jointure non valide, car des champs sont utilisés :
    <ul>
      <li *ngIf="joinWarning.inCalculated">
        pour les champs calculés
      </li>
      <li  *ngIf="joinWarning.inFilter">
        pour les filtres
      </li>
      <li  *ngIf="joinWarning.inSort">
        pour le tri de données
      </li>
    </ul>
  </ng-container>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary"   i18n="@@validate" (click)="this.close()">ok</button>
</div>
