<ng-container *ngIf="{
    viewParams: this.viewParams$ | async,
    layerSource: this.layerSource$ | async
  } as self"
>
  <alk-header  *ngIf="self.viewParams" [uuid]="self.viewParams.resource" [dataset]="self.viewParams.dataset"
              [viewName]="self.viewParams.view_name"></alk-header>
  <main *ngIf="self.layerSource && self.viewParams">
    <div class="download-container section section-lg">
      <div class="container-fluid my-3">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="card bg-white border-light p-0 p-md-2 mb-2">
              <div class="card-header bg-white py-3">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                  <h2 class="mb-0">
                    <div class="icon icon-shape icon-md icon-shape-primary rounded-circle mr-3 mb-4 mb-md-0 me-2"><i
                            class="fa-solid fa-arrows-to-dot"></i></div>
                    Jointures
                  </h2>
                  <div>
                    <alk-join-modal [layerId]="self.layerSource.id"></alk-join-modal>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <alk-join-list [layerId]="self.layerSource.id"></alk-join-list>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="card bg-white border-light p-0 p-md-2 mb-4">
              <div class="card-header bg-white py-3">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                  <h2 class="mb-0">
                    <div class="icon icon-shape icon-md icon-shape-primary rounded-circle mr-3 mb-4 mb-md-0 me-2"><i
                            class="fa-solid fa-calculator"></i></div>
                    Champs calculés
                  </h2>
                  <div>
                    <alk-calculated-field-modal [layerId]="self.layerSource.id"></alk-calculated-field-modal>
                  </div>
                </div>
              </div>
              <alk-calculated-fields [layerId]="self.layerSource.id"></alk-calculated-fields>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="card bg-white border-light p-0 p-md-2 mb-4">
              <div class="card-header bg-white py-3">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                  <h2 class="mb-0">
                    <div class="icon icon-shape icon-md icon-shape-primary rounded-circle mr-3 mb-4 mb-md-0 me-2"><i
                            class="fa-solid fa-eye"></i></div>
                    Visibilité des champs
                  </h2>
                </div>
              </div>
              <alk-field-visibility></alk-field-visibility>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="card bg-white border-light p-0 p-md-2 mb-4">
              <div class="card-header bg-white py-3">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                  <h2 class="mb-0">
                    <div class="icon icon-shape icon-md icon-shape-primary rounded-circle mr-3 mb-4 mb-md-0 me-2"><i
                            class="fa-solid fa-link"></i></div>
                    Agréger les données
                  </h2>
                </div>
              </div>
              <alk-parameter-aggregate></alk-parameter-aggregate>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="card bg-white border-light p-0 p-md-2 mb-4">
              <div class="card-header bg-white py-3">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                  <h2 class="mb-0">
                    <div class="icon icon-shape icon-md icon-shape-primary rounded-circle mr-3 mb-4 mb-md-0 me-2"><i
                            class="fa-solid fa-filter"></i></div>
                    Filtre de la vue
                  </h2>
                  <alk-view-filter-modal [layerId]="self.layerSource.id"></alk-view-filter-modal>
                </div>
              </div>
              <alk-view-filter [layerId]="self.layerSource.id"></alk-view-filter>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <div class="card bg-white border-light p-0 p-md-2 mb-4">
              <div class="card-header bg-white py-3">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                  <h2 class="mb-0">
                    <div class="icon icon-shape icon-md icon-shape-primary rounded-circle mr-3 mb-4 mb-md-0 me-2"><i
                            class="fa-solid fa-arrow-up-wide-short"></i></div>
                    Tri des données
                  </h2>
                  <alk-sorting-data-modal [layerId]="self.layerSource.id"></alk-sorting-data-modal>
                </div>
              </div>
              <alk-sorting-data-list [layerId]="self.layerSource.id"></alk-sorting-data-list>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-center">
              <button class="btn btn-prodige rounded-0 me-1" role="button" (click)="this.onReset()">
                <i class="fa-solid fa-rotate-left me-2"></i>Réinitialiser
              </button>
              <alk-preview-modal [uuid]="self.viewParams.resource"></alk-preview-modal>
              <button class="btn btn-prodige rounded-0 me-1" [disabled]="this.isLoading" (click)="sendViewParams()">
                <i class="fa-solid fa-download me-2" *ngIf="!this.isLoading"></i>
                <i class="fas fa-circle-notch fa-spin upload-icon icon-color-loading" *ngIf="this.isLoading"></i>
                Enregistrer
              </button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </main>
</ng-container>
