<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" i18n="@@addFilter">Ajouter un filtre</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.close()">
    </button>
  </div>
  <div class="modal-body" >
    <form>
      <div class="row">
        <div class="row  ">
          <div class="col-md-4 table-height overflow-auto">
            <table class="table">
              <thead>
              <tr class="header-th" >
                <th scope="col">Champ</th>
                <th scope="col">Type</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let field of fieldView; index as i" class="select-row "  >
                <td (dblclick)="addToExpression(field.name, 'field')">
                  {{ field.name }}
                </td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-4 table-height overflow-auto">
            <table class="table ms-5">
              <thead>
              <tr  class="header-th">
                <th scope="col">Operator</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let sqlOperator of sqlOperators; index as i"  class="select-row" >
                <td (dblclick)="addToExpression(sqlOperator[0])">
                  {{ sqlOperator[0] }}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <textarea class="col-12" [(ngModel)]="this.viewParams.filter" name="sql-calcul">

        </textarea>
      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" i18n="@@close" (click)="this.cancel(modal)">annuler</button>
    <button type="button" class="btn btn-primary"   i18n="@@validate" (click)="this.validate(modal)">valider</button>
  </div>
</ng-template>
<ng-container *ngIf="!this.edit && !this.oldExpression">
  <button type="button" class="btn btn-sm btn-prodige rounded-0 px-3 py-2" (click)="this.open(content)" i18n="@@addFiltr">
    Ajouter un filtre
  </button>
</ng-container>

<ng-container *ngIf="this.edit && this.oldExpression" >
  <button class="btn btn-link rounded me-1" role="button" (click)="this.open(content)"><i class="fa-solid fa-pen"></i></button>
</ng-container>
