<ng-container *ngIf="{
    viewParams: this.viewParams$ | async,
    layerSource: this.layerSource$ | async
  } as self"
>
  <alk-header *ngIf="self.viewParams" [uuid]="self.viewParams.resource" [dataset]="self.viewParams.dataset"
              [viewName]="self.viewParams.view_name"></alk-header>
<main *ngIf="self.viewParams">
  <div class="download-container section section-lg">
    <div class="container-fluid my-3">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="card bg-white border-light p-0 p-md-2 mb-2">
            <div class="card-header bg-white py-3">
              <div class="d-flex flex-wrap justify-content-between align-items-center">
                <h2 class="mb-0">
                  <div class="icon icon-shape icon-md icon-shape-primary rounded-circle mr-3 mb-4 mb-md-0 me-2"><i
                          class="fa-solid fa-arrows-to-dot"></i></div>
                  Vue personnalisée
                  <button type="button" class="btn btn-link">
                    <i class="fa-solid fa-circle-info" placement="top"
                       ngbTooltip="la vue doit impérativement avoir les colonnes gid et the_geom. Le caractère ; est interdit."></i>
                  </button>
                </h2>
              </div>
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <textarea [(ngModel)]="self.viewParams.view_sql" name="costum-sql-text" class="col-12 costum-sql-text">
                  </textarea>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center">
            <button class="btn btn-prodige rounded-0 me-1" role="button"  (click)="this.onReset()" >
              <i class="fa-solid fa-rotate-left me-2"></i>Réinitialiser
            </button>
            <alk-preview-modal [uuid]="self.viewParams.resource"></alk-preview-modal>
            <button class="btn btn-prodige rounded-0 me-1" [disabled]="this.isLoading" (click)="sendViewParams()" >
              <i class="fa-solid fa-download me-2" *ngIf="!this.isLoading"></i>
              <i class="fas fa-circle-notch fa-spin upload-icon icon-color-loading" *ngIf="this.isLoading"></i>
              Enregistrer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</ng-container>
