<div class="card-body">
  <div class="table-responsive">
    <table class="table table-striped ">
      <thead>
      <tr>
        <th scope="col">Expression</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody class="align-middle">
      <tr *ngIf="this.viewParams.filter">
        <td>{{this.viewParams.filter}}</td>
        <td class="text-end">
          <div class="btn-group" role="group">
            <alk-view-filter-modal [edit]="true"   [layerId]="this.layerId" ></alk-view-filter-modal>
            <button class="btn btn-link rounded me-1" (click)="delete()">
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
