<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" i18n="@@addJoin">Aperçu</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="this.close(modal)">
    </button>
  </div>
  <div class="modal-body preview-body-size">
    <table class="table table-striped">
      <thead>
      <tr >
        <ng-container *ngFor="let key of this.keys$ | async">
          <th >{{key}}</th>
        </ng-container>

      </tr>
      </thead>
      <tbody class="align-middle">
      <ng-container  *ngFor="let properties of this.propperties$ | async">
        <tr >
          <ng-container  *ngFor="let property of properties">
            <td>
              <div class="preview-line-size">{{property}}</div>
            </td>
          </ng-container>
        </tr>
      </ng-container>

      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" i18n="@@close" (click)="this.close(modal)">fermer</button>
  </div>
</ng-template>

<button class="btn btn-outline-prodige rounded-0 me-1"role="button" (click)="this.open(content)">
  <i class="fa-solid fa-eye me-2"></i>Aperçu
</button>

