<header>
  <div class="container-fluid bg-header pb-4 pt-5">

    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="mb-3">
          <div class="position-relative">
            <div class="position-absolute top-0 end-0">
              <div class="bd-highlight"  *ngIf="this.user$ | async; let user;">
                <strong class="me-1">{{user.firstname}} {{user.lastname}}</strong>
                <button class="btn btn-outline-secondary btn-sm" (click)="this.loggout()" i18n="@@logout">
                  <i class="fa fa-solid fa-power-off"></i>
                  Déconnexion
                </button>
              </div>
            </div>
          </div>
          <h1 class="subtitle">Ressource dérivée :</h1>
          <h1>
            <ng-container>{{viewName}}</ng-container>
          </h1>
          <p>
            <ng-container >{{uuid}} ({{dataset}})</ng-container>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
